.footer { 
    margin-top: 100px; 
    position: relative; 
    width: 98vw; 
    height: 30vh; 
    margin-left: calc(50% - 50vw); 
    background-color: #DDDDDD; 
    align-items: left; 
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start; 
    padding-left: 20px 
} 

.footer-logo { 
    margin-top: 70px; 
    width: 150px; 
    height: 150px; 
    margin-left: 30px; 
} 

.collumns-text { 
    margin-top: 40px; 
    margin-left: 150px; 
    display: flex; 
    flex-direction: column; 
} 

.collumns-text h1 { 
    margin-bottom: 10px; 
    font-weight: 500; 
    font-size: 15px; 
    text-align: left; 
} 

.collumns-text p { 
    text-align: left; 
    margin: 5px 0; 
    font-size: 15px; 
    color: #333333; 
} 

.connected-text { 
    display: flex; 
    align-items: center; 
} 

.connected-icon { 
    width: 25px; 
    height: auto; 
    margin-right: 5px; 
    vertical-align: middle; 
} 

.pin-icon { 
    margin-top: 3px; 
    width: 40px; 
    height: auto; 
    margin-left: -7px; 
    vertical-align: middle; 
}

.footer-text { 
    margin-top: 60px; 
    text-align: left; 
    font-size: 16px; 
    color: #333333; 
    margin-left: 150px; 
    max-width: 500px; 
} 

.footer-bottom p { 
    margin-top: 20px; 
    margin-bottom: -10px; 
    width: 100%; 
    text-align: center; 
    font-size: 12px; 
    color: #666666; 
}