.banner {
    position: relative;
    width: 99.5vw;
    height: 95vh;
    margin-left: calc(50% - 50vw);
}

.western-campus-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    filter: brightness(0.4);
}

.banner-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

.home-text {
    color: #fff;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
    max-width: 1100px;
    margin-bottom: 1rem;
}

.highlight {
    color: #8F4FC1;
    font-size: 5.5rem;
}

.search-form {
    display: flex;
    gap: 0.75rem;
    padding: 0.5rem;
    border-radius: 8px;
    max-width: 900px;
    width: 90%;
}

.search-input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    flex: 1;
    padding: 1rem 0.75rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.search-button {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    background: #2b6cb0;
    color: #fff;
}

.browse-title {
    margin-top: 3rem;
    font-size: 2.3rem;
}

.browse-text {
    font-weight: 300;
    font-size: 1.5rem;
}

.category-row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
}

.category-box {
  flex: 0 0 250px;
  height: 200px;
  width: 200px;
  border-radius: 15px;
  background-color: #f9f9f9;
  padding: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  border: 2px solid #ccc;
  text-align: center;
  margin: auto 5px;
}

.category-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}

.category-icon-circle {
  width: 65px;
  height: 65px;
  border: 2px solid #2b6cb0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 12px auto;
  background: #fff !important;
  flex-shrink: 0;
}

.textbooks, 
.textbooks .category-icon-circle {
    background-color: #ebf4ff;
    border-color: #2b6cb0;
}

.electronics, 
.electronics .category-icon-circle {
    background-color: #f3e8ff;
    border-color: #805ad5;
}

.housing, 
.housing .category-icon-circle {
    background-color: #e6fffa;
    border-color: #38a169;
}

.furniture, 
.furniture .category-icon-circle {
    background-color: #fffaf0;
    border-color: #dd6b20;
}

.transportation, 
.transportation .category-icon-circle {
    background-color: #ffe5e5;
    border-color: #e53e3e;
}

.category-img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}

.category-title {
    margin-top: -2px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #222;
    margin-bottom: 8px;
}

.category-text {
    margin-top: -1px;
    font-size: 0.95rem;
    color: #555;
    line-height: 1.4;
}